<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script src='../js/angular.js'></script>
</head>
<style>
</style>
<body ng-app='aa' ng-controller='bb'>
	<div class="some">
		<h2>{{text}}</h2>
		<div class="test"></div>
		<input type="text" ng-model='text'>
		<input type="button"  ng-click='jj()' value="test">
	</div>
</body>
<script>
var aa = angular.module('aa', []);

aa.controller('bb', function($scope){

	 $scope.jj = function(){
	 	console.log('button click');
	 	var test = document.querySelector('.test');
	 	test.innerHTML = 'what a shame';
	 	test.style.color = 'red';
	 };
});
</script>
</html>