<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Weather</title>
	<meta name="viewport" content="width=device-width,initial-scale=1,maxinum-scale=1">	
	<meta name="viewport" content="width=480">
	<link rel="stylesheet" href="../css/base.css">
	<link rel="stylesheet" href="../css/home.css">
	<script src="../js/util.js"></script>
	<script src="../js/angular.js"></script>
</head>
<body>
<div class="header">
	<div class="day">
		<div class="day-content">
			TODAY
			<span class='refresh'><img class="icon" src="../img/refresh.png" alt="刷新"></span>
		</div>
	</div>
	<div class="contact-bar">
	</div>
	<div class="askLocation" style="display:none;">
		<ul>
		<input class="where" type="text" placeholder='输入地址'>
			<li>ll</li>
			<li>ll</li>
			<li>ii</li>
		</ul>		
	</div>
	<div class="location">
		<span class="location-content">San Francisco</span>
		<span class='degree'>30'C</span>
	</div>
</div>

<div class="content">
	
</div>

</body>
<script src='../js/home.js'></script>
</html>